html, body {
    margin: 10;
    width: 100%;
    height: 100%;
    position: relative;
}

.homejavascript {
    background-color: rgb(233, 226, 217);
}


#banner {width: 100%;


}

#tablediv { margin-left: 150px;
           

}

p {
    margin-left: 150px;
    margin-right: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#backgroundpic {
    background-image:url("myBackground.png");

}

#kayak{
    float:right;
    width: 100px;
}

#binoculars{
    float:left;
    width:100px;
    
}


#tulips{
 width: 800px;
    

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin-left:100px;
    margin-right:150px;

}

.container{
    width:800px;
    margin:0 auto;
}
